.calendar-month td.vandaag, .calendar-month td.vandaag:hover {
	font-weight:bold;
	font-size: 20px;
	color: #fff;
	background:url(img/vandaag-month.png) no-repeat 7px 0px;
}
.calendar-title {
	color: #ffffff;
	font-size: 17px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.calendar-title-link, .calendar-title-link:hover {
	color: #ffffff;
	text-decoration: none;
    border-bottom: dotted 1px #fff;
	background: url(img/93.png) no-repeat scroll 0px 0px transparent;
	padding-left: 20px;
}

.calendar-title-link:hover {
    text-decoration: none;
    border-bottom: solid 2px #fff;
}

.calendar-month-title {
	color: #ffffff;
	font-size: 22px;
	padding-top: 15px;
	padding-bottom: 15px;    
}

.calendar-month-title-link, .calendar-month-title-link:hover {
	color: #ffffff;
	text-decoration: none;
}

.calendar-moon-title {

	border-bottom: 1px solid #DFDFDF;
	color: #ffffff;
	background-color: #2285d1;
	font-size: 22px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.calendar-moon-title-link, .calendar-moon-title-link:hover {
	color: #000;
	text-decoration: none;
}

.calendar-moon th {
	color: #000;
	text-align: left;
    font-size: 12px;
    text-align: center;
    border-bottom: #b7b7b7 solid 1px;
    width: 110px;
}

.calendar-moon td {
    font-weight: bold;
	border-bottom: 1px solid #DFDFDF;
    height: 140px;
}

.calendar-moon .vandaag_moon_calendar {
	font-weight:bold;
	font-size: 18px;
    color: #fff;
    background-color: #2285d1;
}

.calendar .wknr,.calendar-month .wknr  {
	color: #919191;
    background-color: #f4f4f4;
    font-style: italic;
    border-left: 1px solid #d9d9d9;
	border-right: 1px dotted #aeaeae;
}

.calendar .wknr {
	width: 31px;
}



.calendar-month .wknr {
	width: 46px;
	height: 30px;
	line-height: 30px;
}
}
.calendar-month th.wknr {
	font-size: 12px;
	width:30px;
}


td.vak {
	color: #cc234c;
	font-weight: bold;
}

td.wd_5, td.wd_6 {
 	color: #0d5d9a;
}

.calendar th, .calendar-month th {
	color: #676767;
}

.calendar th {
	font-size: 12px;
}

.calendar-month th {
	font-size: 14px;
}

.calendar td, .calendar-month td {
	text-align: center;
	color: #686868;
}

.calendar td {
	width: 26px;
}

.calendar td:hover {
	font-weight:bold;
	background:url(/img/selected.png) no-repeat 3px 0px;
	cursor: pointer;
}

.calendar-month td {
	width: 42px;
	font-size: 18px;
}

.calendar-month td:hover, .sun_hover {
	font-weight:bold;
	font-size: 20px;
	background:url(/img/selected-month.png) no-repeat 7px 0px;
	cursor: pointer;
}